<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado Libre</title>
    <link rel="stylesheet" href="/css/style.login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>

        <div class="conteiner-arriba"> 
            <img class= "logo"src="imagenes/logo-mercado-liebre.svg" width="25%" alt="logo-mercado-liebre">
            <div class="container">
                <input class ="barra" type="text" placeholder="buscar productos, marcas">
                <button class="buscador"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <nav class="conteiner-2">
                <div class="dolar"><i class="fa-solid fa-hand-holding-dollar"></i></div>
                <p class="cuotas"> Comprá en cuotas y sin tarjeta de crédito</p>
            </nav>
        </div>
            <nav class="links">
                <div class="links-der">
                    <a href="ofertas.html" class="opciones"> Ofertas </a>
                    <a href="tiendasOficiales.html" class="opciones"> Tiendas Oficiales </a>
                    <a href="vender.html" class="opciones"> Vender </a>
                    <a href="ayuda.html" class="opciones"> Ayuda </a>
                </div>
                <div class="links-izq">
                    <a href="/register" class="opciones"> Crea tu cuenta <i class="fa-regular fa-address-card"></i></a>
                    <a href="/login" class="opciones"> Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    <a href="misCompras.html" class="opciones"> Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                </div>
            </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>

    </header>

    <main>
        <div class="login-box"> 
            <p class="titulo">login</p>
                <form action="/" method="get"> 
                    <div class="user-box">
                        <label for="name">Nombre y Apellido</label>
                            <input type="text" id="name" name="nombre completo" required>
                            <p class="Obligatorio">*Este Campo Es Obligatorio</p>
                    </div>

                    <div class="user-box">
                        <label for="contraseña">contraseña</label>
                            <input type="password" id="contraseña" name="contraseña" required>
                            <p class="Obligatorio">*Este Campo Es Obligatorio</p>
                    </div>
                    <input class="boton-input" type="submit" value="ingresar">
                </form>
        </div>
    </main>

    <footer>
        <div class="futter">
            <div class="fut">
                <div class="iconos-footer">
                <i class="fas fa-credit-card"></i>
                </div>
                <b>Pagá con tarjeta o en efectivo</b>
                <h5>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es
                    seguro!</h5><br>   
            </div>
            <div>
                <div class="iconos-footer">
                <i class="fas fa-gift"></i>
                </div>
                <b>Envío gratis desde $ 2.500</b><br>
                <h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</h5><br>
            </div>
            <div>
                <div class="iconos-footer">
                <i class="fas fa-user-shield"></i>
                </div>
                <b>Seguridad, de principio a fin</b><br>
                <h5>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</h5><br>
            </div>
        </div>
             <div><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b><br></div>
           
            
        </footer>

</body>
</html>